.custom-card .card {
  max-width: 30rem;
}

a.custom-card {
  width: 18rem !important;
}

a.custom-card:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer !important;
  background: #e8e8e8;
}

a.custom-card:hover img {
  cursor: pointer !important;
}

